@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.item {
    margin-bottom: 100px;

    img {
        width: 40%;
        height: 100%;
        -o-object-fit: cover;
        border-radius: 0.4em;
        object-fit: cover;
    }

    display: flex;
    justify-content: space-around;

    div {
        margin-left: 100px;

        span {
            margin-top: 1em;
            font-weight: 700;
        }

        h1 {
            font-size: 1.5em;
            font-weight: 600
        }

        p {
            line-height: 1.42;
            margin-bottom: 2em;
            padding: 0;
            text-align: left;
        }

        button:hover {
            color: #fff;
            background-color: #d51a1e;
        }

        button {
            min-width: 14em;
            border-radius: 0.4em;
            padding: 0.8em 2em;
            color: #d51a1e;
            background-color: #fff;
            cursor: pointer;
            display: block;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            font-weight: 700;
            letter-spacing: .03em;
            text-decoration: none;
            text-align: center;
            border: 2px solid #d51a1e;
        }
    }
}

.main {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    font-weight: 300;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    min-height: 30em;
    padding: 2.5em 6.2em 6em 4em;
    font-family: Roboto;
    border-top: 1px solid #e5e5e5;
    max-width: 100%;
}


@media screen and (max-width: 992px) {
    .item {
        flex-direction: column;
        img {
            margin-left: 20px;
            width: 110%;
        }
    }

    .item_child {
        span {
            visibility: hidden;
        }

        h1 {
            background-color: #fff;
            border-bottom: 1px solid #e5e5e5;
            text-align: center;
        }
        p{
            padding: 0 1em;
    text-align: justify;
    margin-bottom: 1em;
        }
    }
}