.container{
    width: 20%;
    margin: 0 auto;
    border-radius: 30px;
    margin-top: 5%;
}
.image{
    margin-top: 1%;
    display: flex;
    margin-left: 5%;
    width: 90%;
    height: 60vh;
    border-radius: 30px;
}

.btn {
    position: absolute;
    margin-left: 3%;
    margin-top: -100px;
    width: 3%;
    height: 6vh;
    background-color: rgba($color: #fff, $alpha: 5);
    border-style: none; 
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
    color: #e31837;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;

}
.btn:hover{
    opacity: 2;
    display: block;
}
.slider{
    display: flex;
    justify-content: center;
}
.imageAdaptive{
    display: none;
    height: 40vh;
    object-fit: cover;
}

@media (max-width:800px){
    .imageAdaptive{
    width: 90%;
    height: 100%;
    margin:6% 0% 0% 5%;
    height: 40vh;
    margin: 0% 0% 0% 5%;
    }
    .btn{
        display: none;
    }
    .image{
        display: none;
    }
    .imageAdaptive{
        display: block;
        border-radius: 10%;
    }

}