body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .modal_wrapper{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgb(219, 112, 112);
  backdrop-filter: blur(10px)
}

.modal_wrapper.close{
  height: 0;
  display: none;
}

.modal_body{
  min-width: 500px;
  margin: auto;
  background: white;
  margin-top: 5px;
  padding: 20px;
  border-radius: 10px;
  min-height: 100px;
  overflow: scroll;
} */
